// Override default variables before the import
$primary: #1e2d40;
$secondary: #364250;
$warning: #00ffc3;
$info: #14907c;


*{
    font-size: medium;
    font-family: 'Helvetica', 'Open Sans', 'Helvetica Neue', sans-serif
}

#preview img {
    display: block;
    max-width: 50%;
    margin: 2rem auto;
}

.customCard {
    max-height: 750px;
}

.preview {
    max-height: 662px;
    overflow-y: auto;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';